:root {
  --text-accent: rgb(211, 112, 18);
}
body {
  :root {
    --text-accent: rgb(211, 112, 18);
  }

  h1 {
    color: white;
  }

  h2 {
      color: white;
  }

  h3 {
      color: white;
  }

  h4 {
      color: white;
  }

  --embed-border-start: none;
	--embed-padding: 0;

  /*Works on all existing bold links*/
  .red-links .cm-strong a{
    color: red !important;
    font-size: 1.2rem;
    font-weight: 700;
  }


  .red-links strong .internal-link{ 
    color: red !important;
    font-size: 1.2rem;
    font-weight: 700;
  }

  .red-truth strong{
    color: red;
  }

  
  .blue-truth em, .blue-truth .cm-em{
    color: rgb(48, 190, 247);
  }


  [data-callout="note"] {
    color: skyblue;
  }

  [data-callout="note"] .callout-fold{
    color: skyblue;
  }

  [data-callout="note"] .callout-icon{
    display: none;
  }

  [data-callout="note"] .callout-title-inner{
    color: rgb(48, 190, 247);
    font-size: larger;
      /* border: 2px solid black; */
  }

  .center-headings .cm-header-1, .center-headings .cm-header-2, .center-headings :is(h1, h2, h3, h4, h5, h6){
    text-align: center !important;
    display: block;
  
  }
  
  .center-images img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  
  }
  
  .center-title .inline-title{
    text-align: center;
  }
  
  .center-headings .mb-view input{
    max-width: 3rem;
  }
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
}
