:root {
  --text-accent: rgb(211, 112, 18);
}
body {
  :root {
    --text-accent: rgb(211, 112, 18);
  }

  h1 {
    color: white;
  }

  h2 {
      color: white;
  }

  h3 {
      color: white;
  }

  h4 {
      color: white;
  }

  --embed-border-start: none;
	--embed-padding: 0;

  a.is-unresolved {
    color: rgba(211, 111, 18, 0.65);
  }

  /*Works on all existing bold links*/
  .red-links .cm-strong a{
    color: red !important;
    font-size: 1.2rem;
    font-weight: 700;
  }


  .red-links strong .internal-link{ 
    color: red !important;
    font-size: 1.2rem;
    font-weight: 700;
  }

  .red-truth strong{
    color: red;
  }

  
  .blue-truth em, .blue-truth .cm-em{
    color: rgb(48, 190, 247);
  }


  [data-callout="note"] {
    color: skyblue;
  }

  [data-callout="note"] .callout-fold{
    color: skyblue;
  }

  [data-callout="note"] .callout-icon{
    display: none;
  }

  [data-callout="note"] .callout-title-inner{
    color: rgb(48, 190, 247);
    font-size: larger;
      /* border: 2px solid black; */
  }

  .center-headings .cm-header-1, .center-headings .cm-header-2, .center-headings :is(h1, h2){
    text-align: center !important;
    display: block;
  
  }
  
  .center-images img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  
  }
  
  .center-title .inline-title{
    text-align: center;
  }
  
  .center-headings .mb-view input{
    max-width: 3rem;
  }

  .internal-embed:has([data-callout="tip"]){
    display: none !important;
  }
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }


  /*Image Grid*/
  .callout.callout[data-callout=grid] {
    --callout-padding: 0;
    --callout-content-padding: 0;
    background: transparent;
    border: 0;
    margin: 0;
    box-shadow: none;
  }
  .callout.callout[data-callout=grid] .callout-content {
    display: block;
    width: 100%;
    border: 0;
    box-shadow: unset;
    padding: 0;
  }
  .callout.callout[data-callout=grid] .callout-title {
    display: none;
  }
  .callout.callout[data-callout=grid] .callout-content p {
    display: flex;
    margin-block-start: 0;
    margin-block-end: 0;
    justify-content: center;
  }
  .callout.callout[data-callout=grid] .callout-content img {
    display: table-cell;
    vertical-align: middle;
    padding: 3px;
    max-height: 35vh;
  }
  .callout.callout[data-callout=grid] .callout-content img[alt=wfull] {
    max-height: unset;
  }
  .callout.callout[data-callout=grid][data-callout-metadata~=masonry] .callout-content p {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, auto));
    grid-gap: 0;
    margin: 0;
    margin-top: 1px;
  }
  .callout.callout[data-callout=grid][data-callout-metadata~=masonry] .callout-content img {
    display: flex;
    flex: 1;
    align-self: stretch;
    object-fit: cover;
    max-height: unset;
  }
}
